./linux/* linguist-vendored
./linux/*.txt linguist-vendored
./linux/flutter/* linguist-vendored
./macos/* linguist-vendored
./macos/Flutter/* linguist-vendored
./macos/Runner/* linguist-vendored
./web/* linguist-vendored
./docs/* linguist-vendored
./docs/canvaskit/* linguist-vendored
./docs/canvaskit/profiling/* linguist-vendored
